.nav-bar{
    background-color: #ECECEC;
}

/* .img-logo{
    height: 10px;
    width: 50%;
} */

@media only screen and (min-width:768px){
    .img-carro{
        height: 630px;
    }
}

h1{
    font-size: 60px;
}

.painel-o-coletivo{
    background-color: #D9D9D9;
}